$back-color: #2c4357;
$second-color: #375269;
$border-color: #24394c;
$section-title-color: #41639E;
$section-title-border: #6E943D;
$gray: #9E9E9E;
$white: #F5F5F5;
$black: #130F30;

@font-face {
	font-family: WMitra;
	src: url("fonts/WebMitra.woff");
}
@font-face {
	font-family: WYekan;
	src: url("fonts/WebYekan.woff");
}
@font-face {
	font-family: BKoodak;
	src: url("fonts/BKoodak.woff");
}

* {
	transition: all 0.3s ease-out;
	&:hover {
		transition: all 0.1s ease-in;
	}
}

.left {
	float: left;
}
.right {
	float: right;
}

.facebook:hover {
	background-color: #3C599F;
}
.twitter:hover {
	background-color: #62C8F8;
}
.google-plus:hover {
	background-color: #E9402E;
}
.rss:hover {
	background-color: #FAA21C;
}

html, body {
	background-color: #F9F9F9;
	padding: 0;
	margin: 0;
	font-family: WYekan;
	font-size: 18px;
	direction: rtl;
	font-align: right;
	width: 100%;
	color: $black;
}

ul {
	list-style: none;
	&.inline-list {
		li {
			display: inline-block;
		}
	}
}

a {
	text-decoration: none;
}
input {
	outline: none;
}