
//
// Official Scss Port created by Joe Richardson (dope)
// Feel free to contribute.
//

.wrapper {
  margin: 0 auto;
  width: $large;
  position: relative;
}

*,
*:before,
*:after  {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

 .row {
  width: 100%;
  display: block;
 }

 // Set the width of the grid
 .frame {
  margin: 0 auto;
  width: 100%;

  // clearfix
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

 // Attribute selector
 [class*='bit-'] {
  float: right;
  padding: $bit-padding;

  &:last-of-type {
    float: left;
  }
}

// Create grid widths
.bit-20 {
  width: 20%;
}
.bit-25 {
  width: 25%;
}
.bit-30 {
  width: 30%;
}
.bit-50 {
  width: 50%;
}
.bit-60 {
  width: 60%;
}
.bit-600 {
  width: 600px;
  margin: 0 auto;
  float: initial !important;
}
.bit-75 {
  width: 75%;
}
@for $i from $start through $end {
  .bit-#{$i} {
    width: $full / $i;
  }
}

@media (max-width: $small) {
  .wrapper {
    width: 100%;
  }

  @for $i from $start through $end {
    .bit-#{$i} {
      width: $full
    }
  }
}

@media (max-width: $medium) {
  .wrapper {
    width: 100%;
  }

  @for $i from $start through $end {
    .bit-#{$i} {
      width: $full
    }
  }

  .bit-50, 
  .bit-75,
  .bit-25,
  .bit-600 {
    width: $full;
  }
}

@media (min-width: $medium) and (max-width: $large) {
  .wrapper {
    width: $medium;
  }

  .bit-2,.bit-600, .bit-50,
  .bit-7 {
    width: $full;

  }

  .bit-4,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: $half;
  }
}